<div class="row" id="recipes">
  <%= render 'recipes/recipes_grid', recipes: recipes, saves: saves, pagy: @pagy %>
</div>

<% if pagy.next.present? && (local_assigns[:load_more_link] != false) %>
  <%= render 'recipes/load_more_link', pagy: @pagy %>
<% end %>

<% if recipes.none? %>
  <p class="lead text-center">No recipes to show</p>
<% end %>
