<h1 class="h2 text-center mb-4 mt-4">Editing recipe</h1>

<% partial = @recipe.source_type_external? ? 'form_external' : 'form_local' %>
<%= render partial, recipe: @recipe %>

<br>

<div>
  <%= link_to "Show this recipe", [@recipe.user, @recipe] %>
</div>
