<%= render layout: 'users/profile_layout' do %>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-12 col-md-4">
        <%= render 'recipes/recipe_card', recipe: recipe %>
      </div>
    <% end %>
  </div>

  <% if @recipes.none? %>
    <p class="lead text-center">No saved recipes yet</p>
  <% end %>
<% end %>
