<div class="row justify-content-center my-5">
  <div class="col-12 col-lg-7">
    <div class="card">
      <div class="row g-0 align-items-center bg-light">
        <div class="col-md-6 order-2 order-lg-1">
          <div class="card-body p-5">
            <h5>Join FXR to be able to:</h5>
            <ul>
              <li>Save recipes</li>
              <li>Share your recipes</li>
              <li>Fork existing recipes</li>
              <li>Remember your camera/sensor filtering settings</li>
              <li>Become part of open community of fuji users</li>
              <li>...and many more!</li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-lg-6 bg-white order-1 order-lg-2">
          <div class="card-body p-5">
            <%= yield %>
          </div>
        </div>
    </div>
  </div>
</div>
